# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# FastAPI specific
*.log
*.db
*.sqlite3

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cahe/
.venv/

# Pytest
.pytest_cache/
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Evn
.env
.env.docker
.dockerignore
.coverage


# Migrations
migrations/
logs/
htmlcov/